<div style="border-radius:10px;
            border:#0b0265 solid;
           background-color:#0077be;
           font-size:110%;
           letter-spacing:0.5px;
            text-align: center">

<center><h1 style="padding: 25px 0px; background color:#0077be; font-weight: bold; font-family: Cursive">
Data Science Masters 2.0 MySQL </h1></center>

</div>

## Q1. What is a database? Differentiate between SQL and NoSQL databases.

A **database** is a structured collection of data that is organized and stored in a way that allows for efficient retrieval, management, and manipulation of the data. It serves as a central repository for storing and managing information.

SQL (Structured Query Language) and NoSQL (Not Only SQL) are two different types of database management systems that differ in their data models, query languages, and underlying architectures.

The difference table summarizing the key distinctions between SQL and NoSQL databases:

|                  | SQL Databases               | NoSQL Databases                                 |
|------------------|-----------------------------|-------------------------------------------------|
| Data Model       | Relational data model       | Various data models (key-value, document, etc.) |
| Schema           | Predefined schema           | Flexible schema or schema-less                  |
| Query Language   | SQL                         | Non-SQL query languages or APIs                  |
| ACID Properties  | Enforced (data integrity)   | May sacrifice strict consistency                |
| Scalability      | Vertical scaling            | Horizontal scaling                              |
| Data Structure   | Tabular (tables with rows)  | Flexible (varies based on data model)           |
| Performance      | May be slower for complex queries | High performance for read-heavy workloads |
| Transaction Support | Supported (ACID properties) | Limited or eventual consistency                |
| Examples         | MySQL, Oracle, PostgreSQL   | MongoDB, Cassandra, Redis, Couchbase, Neo4j     |

## Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL (Data Definition Language) is a subset of SQL (Structured Query Language) used to define and manage the structure of a database. It consists of commands such as CREATE, DROP, ALTER, and TRUNCATE that are used to create, modify, and delete database objects.

pip install mysql

import mysql.connector

# Establish a connection to the MySQL database
conn = mysql.connector.connect(
    host="localhost",
    user="your_username",
    password="your_password",
    database="your_database"
)

# Create a cursor object to execute SQL statements
cursor = conn.cursor()

# CREATE table
create_table_query = """
CREATE TABLE Employees (
  id INT PRIMARY KEY,
  name VARCHAR(50),
  age INT,
  department VARCHAR(50)
)
"""
cursor.execute(create_table_query)
conn.commit()

# ALTER table
alter_table_query = """
ALTER TABLE Employees
ADD COLUMN salary DECIMAL(10, 2)
"""
cursor.execute(alter_table_query)
conn.commit()

# DROP table
drop_table_query = """
DROP TABLE Employees
"""
cursor.execute(drop_table_query)
conn.commit()

# TRUNCATE table
truncate_table_query = """
TRUNCATE TABLE Employees
"""
cursor.execute(truncate_table_query)
conn.commit()

# Close the cursor and connection
cursor.close()
conn.close()

## Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML (Data Manipulation Language) is a subset of SQL (Structured Query Language) used to manage and manipulate data within a database. DML statements include INSERT, UPDATE, and DELETE, which allow you to add, modify, and delete data in database tables.

import mysql.connector

# Establish a connection to the MySQL database
conn = mysql.connector.connect(
    host="localhost",
    user="your_username",
    password="your_password",
    database="your_database"
)

# Create a cursor object to execute SQL statements
cursor = conn.cursor()

# INSERT statement
insert_query = """
INSERT INTO Employees (id, name, age, department)
VALUES (%s, %s, %s, %s)
"""
values = (1, 'John Doe', 30, 'Sales')
cursor.execute(insert_query, values)
conn.commit()

# UPDATE statement
update_query = """
UPDATE Employees
SET age = %s
WHERE id = %s
"""
values = (32, 1)
cursor.execute(update_query, values)
conn.commit()

# DELETE statement
delete_query = """
DELETE FROM Employees
WHERE id = %s
"""
values = (1,)
cursor.execute(delete_query, values)
conn.commit()

# Close the cursor and connection
cursor.close()
conn.close()

## Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used to retrieve and query data from a database. The most common and fundamental DQL statement is SELECT, which allows you to specify the columns, conditions, and sorting for retrieving data from database tables.

import mysql.connector

# Establish a connection to the MySQL database
conn = mysql.connector.connect(
    host="localhost",
    user="your_username",
    password="your_password",
    database="your_database"
)

# Create a cursor object to execute SQL statements
cursor = conn.cursor()

# SELECT statement
select_query = """
SELECT id, name, age, department
FROM Employees
WHERE department = %s
ORDER BY age DESC
"""
values = ('Sales',)
cursor.execute(select_query, values)

# Fetch all rows returned by the SELECT statement
rows = cursor.fetchall()

# Process the fetched rows
for row in rows:
    emp_id, emp_name, emp_age, emp_dept = row
    print(f"ID: {emp_id}, Name: {emp_name}, Age: {emp_age}, Department: {emp_dept}")

# Close the cursor and connection
cursor.close()
conn.close()

## Q5. Explain Primary Key and Foreign Key.

**Primary Key:**
A primary key is a column or a set of columns in a database table that uniquely identifies each record in the table. It serves as a unique identifier for each row and ensures data integrity and uniqueness within the table. Here are some key points about primary keys:

Uniqueness: Each value in the primary key column(s) must be unique, meaning no two rows can have the same primary key value.
Non-nullability: Primary key values cannot be null or empty. Every row in the table must have a valid primary key value.
Uniquely identifies a record: The primary key uniquely identifies a specific record in the table, allowing easy retrieval and referencing of data.
Indexed: Primary keys are usually indexed, which facilitates faster data retrieval and improves query performance.
Example: In a table of "Students," an "ID" column can be defined as the primary key, ensuring each student record has a unique identifier.

**Foreign Key:**
A foreign key is a column or a set of columns in a database table that establishes a link or relationship between the data in two tables. It represents a reference to the primary key in another table and enables the enforcement of referential integrity. Here are some key points about foreign keys:

Relationship between tables: A foreign key establishes a relationship between two tables by referring to the primary key of another table.
Ensures referential integrity: The foreign key ensures that the values in the referencing table (child table) correspond to the values in the referenced table (parent table).
Constraint: A foreign key can be defined as a constraint to enforce data consistency and prevent orphaned records.
Example: In a table of "Orders," a "CustomerID" column can be defined as a foreign key, referring to the primary key column "CustomerID" in the "Customers" table, establishing a link between the orders and the corresponding customers.

## Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [2]:
pip install mysql.connector

Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py): started
  Building wheel for mysql.connector (setup.py): finished with status 'done'
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp38-cp38-win_amd64.whl size=247947 sha256=7703c3722aeeb1c3e7b58e4e87f58aaac3703d41f4359f1bc7583529192eee8e
Note: you may need to restart the kernel to use updated packages.  Stored in directory: c:\users\91812\appdata\local\pip\cache\wheels\57\e4\98\5feafb5c393dd2540e44b064a6f95832990d543e5b4f53ea8f
Successfully built mysql.connector
Installing collected packages: mysql.connector

Successfully installed mysql.connector

import mysql.connector

# Establish a connection to the MySQL database
conn = mysql.connector.connect(
    host="localhost",
    user="10",
    password="Jatin@5544",
    database="your_database"
)

# Create a cursor object to execute SQL statements
cursor = conn.cursor()

# Execute a SELECT statement
query = "SELECT * FROM Employees"
cursor.execute(query)

# Fetch all rows returned by the SELECT statement
rows = cursor.fetchall()

# Process the fetched rows
for row in rows:
    print(row)

# Close the cursor and connection
cursor.close()
conn.close()

## Q7. Give the order of execution of SQL clauses in an SQL query.

When executing an SQL query with Python integration, the order of execution of SQL clauses follows a specific sequence. Here's the typical order of execution:

1. FROM clause: Specifies the table(s) from which the data will be retrieved.

2. WHERE clause: Filters the data based on specified conditions.

3. GROUP BY clause: Groups the data based on specified columns.

4. HAVING clause: Filters the grouped data based on specified conditions.

5. SELECT clause: Selects the columns to be included in the result set.

6. ORDER BY clause: Sorts the result set based on specified columns.

7. LIMIT/OFFSET clause: Limits the number of rows returned or skips a specified number of rows.